 @font-face {
  font-family: "ProximaNovaExCn-RegularIt";
  src: url("../font/ProximaNova/ProximaNovaExCn-RegularIt.eot");
  src: url("../fonts/ProximaNova/ProximaNovaExCn-RegularIt.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaExCn-RegularIt.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaExCn-RegularIt.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaExCn-Light";
  src: url("../font/ProximaNova/ProximaNovaExCn-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNovaExCn-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaExCn-Light.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaExCn-Light.ttf") format("truetype");
  font-style: light;
  font-weight: light;
}

@font-face {
  font-family: "ProximaNovaExCn-Bold";
  src: url("../font/ProximaNova/ProximaNovaExCn-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaExCn-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaExCn-Bold.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaExCn-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: bold;
}