/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

  .page{
  	 font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .container{
  	width: 100%;
  	max-width: 960px;
  	margin: 0 auto;
  	padding-right: 10px;
  	padding-left: 10px;
  	display: flex;
  }

  

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/

.header{
  background:url(../img/header_bg.png)no-repeat bottom center;
}

.hrader_top{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  padding-top: 8px;
  display: flex;
  justify-content: row;
}

.menu{
  padding-top: 8px;
  display: flex;
}

.header__logo-text{
  color: #06cec3;
  font-size: 30px;
}

.nav>li{
  display: inline-block;
  list-style: none;
  font-size: 20px;
  padding-right: 15px;
  padding-top: 10px;
  
}

.nav>li:last-child{
  padding-right: 0px;

}

.nav>li>a{
  color: #fff;
  text-decoration: none
  
}

.nav>li>a:hover{
  color: #00fcee;
}

.touch-menu{
  font-size: 25px;
  margin: 0;
  padding-right: 50px;
  padding-top: 10px;
  color: #06cec3;
  display: none;
}


/*                         header__content                         */

.header__content{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__content-h1{
  padding-top: 180px;
  padding-bottom: 20px;
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.header__content-hr{
  display: flex;
  justify-content: center;
  width: 100px;
  color: #06cec3;
}

.header__content-span{
  padding-top: 20px;
  font-size: 18px;
  display: flex;
  text-align: center;
}

.header__content-button{
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.header__content-button>a{
  display: flex;
  color: #06cec3;
  text-decoration: none;
  text-transform: uppercase;
  
}

.header__content-button>a:hover{
  color: #fff;
}

.header__content-button-a{
  border: 1px solid #06cec3;
  padding: 6px 35px;
}

.header__content-button-a:hover{
  border: 1px solid #fff;
}




/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

.section-first{
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.section-f-content{
  display: flex;
  flex-direction: row;
}

.section-f-text{
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.section-f-img{
  display: flex;
  width: 100%;
  height: 100%;
}

.section-f-text>h1{
  text-align: left;
  font-size: 22px;
  font-weight: normal;
}

.section-f-text>p{
  padding-top: 22px;
}

.section-f-lern{
  padding-top: 30px;
  padding-bottom: 70px;
  display: flex;
  justify-content: left;
}

.section-f-lern>a{
  display: flex;
  color: #06cec3;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  
}

.section-f-lern>a:hover{
  color: #323232;
}

.section-f-a{
  border: 1px solid #06cec3;
  padding: 5px 20px;
}

.section-f-a:hover{
  border: 1px solid #323232;
}

/*                       Section Second                      */

.section-second{
  color: #fff;
  padding-top: 0px;
  display: flex;
  background:url(../img/srction-s-bg.png)no-repeat bottom center;

}

.section-s-content{
  padding-top:210px;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-s-content-button{
  display: flex;
  justify-content: center;
  font-size: 100px;
}

.section-s-content-button-a{
  color: #fff;
}

.section-s-content-button-a:hover{
 
  color: #323232;
}

.section-s-play>h1{
  padding-top: 20px;
}

/*                       Section Thred                      */



/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/


.section-third{
  background-color: #fff;
  display: flex;
}

.section-th-pad{
  padding-top: 75px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.section-th-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-th-h1{
  font-size: 22px;
  text-transform: uppercase;
}

.section-th-span{
  font-size: 17px;
  color: #b2afba;
  text-align: center;
}

.section-th-hr{
 padding-top: 20px;
 min-width: 80px;
 max-height: 1px;
}

.section-th-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.sect-t-i{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  max-width: 300px;
}

.section-th-img{
  padding-bottom: 10px;
}

.section-th-icons-text{
  font-size: 14px;
  color: #413d4b;
  text-align: center;
}

.section-th-pad-top{
  padding: 8px 0;


}

.section--hr{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.sechr{
  max-width: 900px;
  max-height: 1px;
  display: flex;
}

.section-th-bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


/*
================================================================================
|                                     SECTION TEAM                                   |
================================================================================
*/

.section__four__team{
  background:no-repeat top center;
  background-image:url(../img/section__team.png);
  
  color: white;
}

.section__team{
  display: flex;  
  flex-direction: column;
  align-items: center;
}

.section__team__h1{
  padding-top: 70px;
  font-size: 22px;
}

.section__team__h2{
  font-size: 15px;
  font-weight: normal;
  padding-top: 10px;
}

.section__team__hr{
  padding-top: 25px;
  width: 100px;
  height: 2px;
}

.team__member{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team__member{
  padding-top: 50px;
}

.member{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

.section__team__img{
  width: 220px;
  height: 230px;
}

.member__h2{
  padding-top: 19px;
}

.member__h3{
  font-weight: normal;
  padding-top: 8px;
}

.member_hr{
  padding-top: 30px;
  width: 220px;
  height: 2px;
}

.team__h2__but{
  font-size: 15px;
  font-weight: normal;
  padding-top: 70px;
}

.team__button{
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__button__a{
  color: #00e0d0;
  font-size: 16px;
  padding: 8px 20px;
  border: 1px solid #00e0d0;
  text-decoration: none;
}

.team__button__a:hover{
  border-color: #fff;
  color: #fff;
}


/*
================================================================================
|                                     SECTION CONTACT                                   |
================================================================================
*/

.contact{
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourclient{
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.client__img1{
  padding: 20px 30px;
}

.client__img2{
  padding: 20px 20px;
}

.contact__form{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__h1{
  padding: 20px 0;
  font-size: 25px;
}

.input__text{
  text-align: center;
  color: #e5e5e5:;
  border:1px solid #e5e5e5;
  padding: 10px 100px;
  margin-top: 15px;
}

.button__submit{
  background-color: #fff;
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-size: 16px;
  font-weight:bold;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 5px 155px;
}

.button__submit:hover{
  color: #323232;
  border-color: #323232;
}

.footer{
  background:url(../img/footer__bgc.png)no-repeat bottom center;
}

.footer__content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}

.footer__tajam{
  display: flex;
}

.footer__ourstudio{
  display: flex;
}

.footer__stayintouch{
  display: flex;
}