/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 960px) {
    .main{
    	flex-direction: column;
    }
    .service_card{
    	justify-content: space-around;
    }
	#form ul li input{padding: 0;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 850px) {
	 .header_main{
    	flex-wrap: wrap;
    	-ms-align-items: center;
    	align-items: center;
    }
   .title_text{
   	display: none;
   }
   .header_contact{
   	padding: 10px 0;
   }
   .header_h1{
   	padding: 10px 0;
   	order: 1;
   }

   .toogle{
    display: flex;
   }
   .nav{
   	display: none;
   	top: 16%;
   	right: 0;
   	position: absolute;
   	flex-direction: column;
   	width: 100%;
   	li{
   		width: 100%;
   	}
   }


    
}

  

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

   

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}