/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1360px){
	.call{
		padding-top: 100px;
		.call_r{
		span{
			font-size: 30px;
		}
		p{
			font-size: 32px;
		}
	}
		}
	.main_content{
		flex-direction: column-reverse;
		.main_slider{
			padding-bottom: 30px;
		}

	}
}

@media only screen and (max-width : 1200px) {
	.header_content{
		padding-right: 5px;
		padding-left: 5px;
	}
	.mini-menu{
		position: relative;
	}
    .toogle{
    	display: flex;
    }
	.nav{
		display: none;
    	flex-direction: column;
    	position: absolute;
    	right: 0;
    	width: 205px;
    }

    .card{
    	margin-top: 40px;
    	&:hover{
    		margin-top: 40px;
    	}
    }

}

@media only screen and (max-width : 1060px){
	.call{
		padding-top: 80px;
	 .call_r{
		span{
			font-size: 25px;
		}
		p{
			font-size: 27px;
		}
		a{
			padding: 10px 60px;
		}
	  }
	} 
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .call{
    	background-image: none;
    	background: linear-gradient(to right, #4146b8, #92d3f8) ;
    	
    }
   	
}

@media only screen and (max-width : 860px) {
    .call_content{
    	flex-direction: column;	
    }

   	
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo{
		span{
			font-size: 30px;
		}
	}

    .nav{
  li{
    a{
      color: #323232;
    }
  }
}

    .footer{
    	background-image: none;
    	background: linear-gradient(to right, #4146b8, #92d3f8);
    	
    }
	.footer_content{
		flex-direction: column;
	}

}

  

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

   

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}