/*             ---MAIN VARIABLE---              */

 $blue: #4147b9;
 $blue-white: #92d3f8;
 $white: #fff;
 $black: #3e3e46;

/*             ---MIXIN---              */
@mixin pd60{
  padding-top: 60px;
}
@mixin fd-r {
  display: flex;
  flex-direction: row;
}
@mixin fd-c {
  display: flex;
  flex-direction: column;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; 
}

body{
	color: $blue;
  font-family: Arial,sans-serif;
  font-size: 26px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

ul,ol{
	list-style: none;
}

  a{
  	text-decoration: none;
  }

 


 /*             ---CONTAINER---              */

 .container{
 	  width: 100%;
    max-width: 1480px;
    margin: 0 auto;
 }
 


 .first_bg{
  position: relative;
  .first_bg_img{
    z-index: -1;
    position: absolute;
    width: 100%;
  }
 }
 .second_bg{
   position: relative;
   .second_bg_img{
     z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    
   }

 }
 

/*             ---HEADER---              */

.header_content{
  padding-top: 20px;
  @include fd-r;
  justify-content: space-between;
  align-items: flex-end;
}
.logo{
  @include fd-r;
  align-items: flex-end;
  img{
    padding-right: 5px;
    width: 94px;
    height: auto;
  }
  span{
    color: $blue-white;
    font-size: 60px;

  }
}

.nav{
  @include fd-r;
  li{
    padding: 0 30px;
    a{
      font-size: 30px;
      color: $white;
      &:hover{
        color: $blue-white;
      }
    }
  }
}

.toogle{
  display: none;
}
.menu__btn{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid $black;
  background-color: #fff;
  position: relative;

  span{
    margin-top: -1px;
    margin-left: -8px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2px;
    background-color: #222;
    &::after,&::before{
      content: '';
      margin-top: -1px;
        margin-left: -7px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 2px;
        background-color: #222;
            transition: 0.2s;
    }
    &::after{
      transform: translateY(5px);
    }
    &::before{
      transform: translateY(-5px);
    }
  }
}

.menu__btn__active{
  span{
    height: 0;
    &:before{
      transform:rotate(40deg);
    }
    &:after{
      transform:rotate(-40deg);
    }
  }
}

/*             ---MAIN---              */

.main{
  padding-top: 140px;
}
.main_content{
  @include fd-r;
  justify-content: space-between;
}

.main_left{
  @include fd-c;
  -ms-align-items: center;
  align-items: center;
  align-items: center;
  span{
    text-align: center;
    color: $black;
  }
  a{
    margin-top: 20px;
    padding: 10px 80px;
    border: 3px solid $white;
    border-radius: 60px;
    background: linear-gradient(to right, #4146b8, #92d3f8);
    box-shadow: 0 0 17px 7px #cecece;
    color: $white;
  }
}

.main_slider{
  height: 800px;
}

/*             ---advantage---              */

.advantage{
  padding-top: 120px;
  font-size: 30px;
  color: $blue-white;
    h1{
      text-align: center;
      
    } 
}
.advantage_content{
  
  @include fd-r;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card{
  margin-top: 200px;
  margin-right: 30px;
  margin-left: 10px;
  @include fd-c;
  -ms-align-items: center;
  align-items: center;
  width: 320px;
  height: 520px;
  box-shadow: 0px 12px 20px 10px;
  border-radius: 5px;
  color: #d0d0d2;
  transition: 0.5s ease;
  &:hover{
    margin-top: 150px;
  }
  img{
    padding-top: 60px;
    width: 126px;
    height: auto;
  }
  h1{
    padding-top: 45px;
    color: $blue;
    font-size: 24px;
  }
  span{
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 18px;
    color: $blue;
    text-align: center;

  }
}

/*             ---STEPS---              */

.steps{
  padding-top: 120px;
  background: url(../img/steps_bg.png) no-repeat bottom right;
  background-size-: contain;
  h1{
    font-size: 36px;
    color: $blue-white;
    text-align: center;
  }
}
.steps_content{
  padding-top: 100px;
  @include fd-r;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.step_card{
  @include fd-c;
  align-items: center;
  img{
    width: 380px;
  }
  h1{
    padding-top: 64px;
    font-size: 30px;
    color: $blue;
  }
  span{
    width: 200px;
    padding-top: 45px;
    font-size: 24px;
    color: $blue;
  }
}

/*             ---CALL---              */
.call{
  background: url(../img/call_bg.png) no-repeat;
  background-size: 100%;
  padding-top: 120px;
  padding-bottom: 60px;
}
.call_content{
  
  @include fd-r;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  color: $white;
  .call_r{
    @include fd-c;
    span{
      font-size: 40px;
      text-align: center;
    }
    p{
      text-align: center;
      padding-top: 25px;
      font-size: 42px;
      font-weight: bold;
    }
  }
  a{
    padding: 10px 80px;
    border: 3px solid $white;
    border-radius: 60px;
    background: linear-gradient(to right, #4146b8, #92d3f8);
    box-shadow: 0 0 17px 7px #cecece;
    color: $white;
  }
  
}

/*             ---ABOUT-US---              */

.aboutUs_content{
  @include fd-c;
  justify-content: space-around;
  text-align: center;
  h1{
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 36px;
    span{
      color: $blue-white;
    }
  }
  p{
    padding-top: 40px;
    font-size: 26px;
  }
}

/*             ---REVIEW---              */

.review{
  padding-top: 120px;
  padding-bottom: 60px;
  h1{
    color: $blue-white;
    font-size: 36px;
    text-align: center;
  }
}

.review_content{
  padding-top: 120px;
}
.mySlides{
  position: relative;

  img{
    position: absolute;
    z-index: 4;
    top: -17px;
    right: 8%;
  }
}
.mySlides_text{
  box-shadow: 0px 0px 25px 5px;
  width: 80%;
  z-index: 3;
  color: #323232;
  background-color: $white;
}

.text{
  padding-top: 40px;
  width: 600px;
  font-size: 20px;
  color: $blue;
}
.text_under{
  padding-bottom: 80px;
  h1{
    padding-top: 100px;
    text-align: left;
    font-size: 40px;
    color: $blue;
  }
  span{
    color: $blue;
    font-size: 35px;
    font-style: italic;
  }
}

.text,.text_under{
  padding-left: 60px;
}

.dot_conteiner{
  text-align: center;
  
}
.dot{
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover{
  background-color: #717171;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration:1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{opacity: .4}
  to{opacity: 1}
}
@keyframes fade{
  from{opacity: .4}
  to{opacity: 1}
}

/*             ---FOOTER---              */

.footer{
  padding-top: 60px;
  color: $white;
  background: url(../img/footer_bg.png) top left;
  background-size: 100%;
  text-align: center;
}
.footer_h1{
}
.footer_content{
  @include fd-r;
  justify-content: space-around;
  .pay{
    @include fd-c;
    align-items: center;
    span{
      padding-bottom: 40px;
      font-size: 23px;
    }
  }
  .social{
    @include fd-c;
    -ms-align-items: center;
    align-items: center;
    a{
    margin-top: 90px;
    padding: 10px 80px;
    border: 3px solid $white;
    border-radius: 60px;
    background: linear-gradient(to right, #4146b8, #92d3f8);
    box-shadow: 0 0 17px 7px #cecece;
    color: $white;
    }
    .social_icon{
      padding-top: 20px;
      @include fd-r;
      img{
        width: 61px;
        height: 61px;
      }
    }
    span{
      padding-top: 20px;
      font-size: 20px;
    }
  }
  .fini{
    @include fd-c;
    span{
      font-size: 24px;
    }
  }
}