/*             ---MAIN VARIABLE---              */

 $blue-white-color: #4682B4;
 $white-color: #fff;
 $color-blue: #275e85;
 $black-color: #323232;



/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; 
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

body{
  font-family: 'Times New Roman',Times, serif;
  font-size: 16px;
}

ul,ol{
	list-style: none;
}

  a{
  	text-decoration: none;
  }

 


 /*             ---CONTAINER---              */

 .container{
    max-width: 960px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    
 }
 
 /*             ---HEADER---              */

.header{
  padding-top: 20px;
}

.header_main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title{
  display: flex;
  flex-direction: row;
}
.logo{
  display: flex;
  flex-direction: row;
  img{
    padding-right: 15px;
    width: 90px;
    height: 90px;
  }
}
.title_text{
  display: flex;
  flex-direction: column;

  span{
    padding-top: 5px;
  }

  .social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a{
      img{
        padding-top: 5px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.header_h1{
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.header_contact{

  .header_contact-tel{
    display: flex;
    flex-direction: row;
    img{
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }
    span{
      font-weight: bold;
      font-size: 20px;
    }
  }
}


.header_menu{
  margin-top: 25px;
  background-color: $blue-white-color;
}
.toogle{
  display: none;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li{
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    border-right: 1px solid $black-color;
   &:first-child{
      border-left: 1px solid $black-color;
    }
    &:hover{
      background-color: $color-blue;
    }
    a{ 
      color: #fff;
      font-size: 18px;
    }
  }
}

.menu__btn{
  top: 30%;
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;

  span{
    margin-top: -1px;
    margin-left: -8px;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 25px;
    height: 2px;
    background-color: $black-color;
    &::after,&::before{
      content: '';
      margin-top: -1px;
        margin-left: -13px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 2px;
        background-color: $black-color;
            transition: 0.2s;
    }
    &::after{
      transform: translateY(5px);
    }
    &::before{
      transform: translateY(-5px);
    }
  }
}

.menu__btn__active{
  span{
    height: 0;
    &:before{
      transform:rotate(40deg);
    }
    &:after{
      transform:rotate(-40deg);
    }
  }
}

/*             ---MAIN---              */

.main{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .money{
    padding-top: 30px;
    img{
      width: 120%;
      height: auto;
    }
  }
}

.contact_form{
  display: flex;
  flex-direction: column;
  h1{
    padding: 5px 0;
    color: $color-blue;
    text-align: center;
    font-size: 25px;
  }
}

#form{
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: $blue-white-color;
  #form_input{
    padding: 5px 20px;
    margin-top: 10px;
    border: none;
  }
  #dorm_step{
    margin-top: 10px;
  }
  #dorm_vid,#dorm_step{
    border: none;
    padding: 5px 20px;
  }
  .download{
    margin-top: 10px;
    background-color: $white-color;
    input{
      max-width: 114px;
      color: $black-color;
    }
  }
  button{
    margin-top: 10px;
    padding: 5px 0;
    border: 1px solid $color-blue;
    background-color: #32CD32;
    border-radius: 5px;
    width: 70%;
    &:hover{
      background-color: #00FF00;
    }
  }
}


/*             ---SERVICE---              */

.service{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.service_h{
  padding-bottom: 15px;
  text-align: center;
  font-size: 25px;
  color: $color-blue;
}
.service_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service_card_item{
  display: flex;
  flex-direction: column;
  img{
    width: 300px;
    height: auto;
  }
}
#form_card{
  ul{
    display: flex;
    flex-direction: column;
    li{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      label{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 25px;
        padding-left: 10px;
        text-align: center;
        color: $color-blue;
        font-weight: bold;
      }
      input{

        border: none;
        border-bottom: 1px solid $black-color;
      }
      button{
        margin: 10px 0;
        padding: 5px 35px;
        font-size: 20px;
        border: 1px solid #323232;
        border-radius: 5px;
        background-color: $color-blue;
        color: #fff;
      }
    }
  }
}


/*             ---WHERE_WE_WORK---              */
.whereWeWork{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.whereWeWork_h{
  h1{
    font-size: 25px;
    text-align: center;
  }
}

.whereWeWork_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  -ms-align-items: flex-end;
  align-items: flex-end;
  .whereWeWork_card_item{
    display: flex;
    flex-direction: column;

    img{
      width: 180px;
      height: auto;
    }
    span{
      text-align: center;
    }
  }
}

/*             ---ABOUT_US---              */
.about_us{
  padding-top: 30px;
}
.about_us_h{
  padding-bottom: 30px;
  text-align: center;
  h1{
    font-size: 25px;
    color: $color-blue;
  }
}

/*             ---FOOTER---              */

.footer{
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}