/*             ---MAIN VARIABLE---              */
/*             ---MIXIN---              */
/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  color: #000000;
  font-family: Arial,sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*             ---CONTAINER---              */
.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

/*             ---HEADER---              */
/*          ---HEADER_TOP---           */
.header_top {
  background-color: #343137;
}

.header_top_content {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.serch-form form {
  display: flex;
  flex-direction: row;
  padding-right: 44px;
}
.serch-form form button {
  border: none;
  background: url(../img/loop.png) no-repeat;
  width: 28px;
  height: auto;
}
.serch-form form input {
  border: 1px solid #fff;
  border-radius: 0 0 10px 10px;
  width: 296px;
  height: 18px;
  background-color: #343137;
  padding-left: 19px;
  padding-bottom: 2px;
  transform: skewX(-15deg);
}

.nav {
  display: flex;
  flex-direction: row;
}
.nav .menu_line {
  padding: 0 16px;
}
.nav li a {
  color: #fff;
}
.nav li a:hover {
  border-bottom: 1px solid #E25072;
}

/*          ---HEADER_BOTTOM---           */
.header_bottom_content {
  padding: 17px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header_bottom_content .header_bottom_telephone {
  display: flex;
  flex-direction: row;
}
.header_bottom_content .header_bottom_telephone span {
  font-size: 21px;
  color: #115185;
}
.header_bottom_content .header_bottom_telephone span:first-child {
  padding-right: 29px;
}
.header_bottom_content .header_bottom_button {
  transform: skewX(-15deg);
}
.header_bottom_content .header_bottom_button a {
  padding: 12px 21px;
  background-color: #48A125;
  border-radius: 0 0 10px 10px;
  transform: skewX(15deg);
  color: #fff;
}
.header_bottom_content .header_bottom_busket {
  display: flex;
  flex-direction: row;
}
.header_bottom_content .header_bottom_busket img {
  padding-right: 7px;
  width: 25px;
  height: auto;
}
.header_bottom_content .header_bottom_busket .header_bottom_busket-price {
  display: flex;
  flex-direction: column;
}
.header_bottom_content .header_bottom_busket .header_bottom_busket-price .header_bottom_busket-price-top, .header_bottom_content .header_bottom_busket .header_bottom_busket-price .header_bottom_busket-price-bot {
  display: flex;
  flex-direction: row;
}
.header_bottom_content .header_bottom_busket .header_bottom_busket-price .header_bottom_busket-price-top span:first-child, .header_bottom_content .header_bottom_busket .header_bottom_busket-price .header_bottom_busket-price-bot span:first-child {
  padding-right: 5px;
  color: #E25072;
}
.header_bottom_content .header_bottom_busket .header_bottom_busket-price .header_bottom_busket-price-top span:last-child, .header_bottom_content .header_bottom_busket .header_bottom_busket-price .header_bottom_busket-price-bot span:last-child {
  color: #0095D7;
}

.header_line {
  height: 2px;
  width: 100%;
  background-color: #E25072;
}

.header_menu_bot {
  padding: 19px 0;
  display: flex;
  justify-content: space-around;
}

.bot_menu {
  display: flex;
  flex-direction: row;
}
.bot_menu .menu_line {
  padding: 0 16px;
}
.bot_menu li a {
  font-size: 18px;
  font-weight: bold;
  color: #115185;
}

/*             ---MAIN_SLIDER---              */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text span {
  color: #fff;
  font-size: 48px;
  position: absolute;
  top: 30%;
  left: 20%;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
/*             ---categories---              */
.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.categories .categories_block {
  padding: 162px 130px;
}
.categories .categories_block span {
  font-size: 48px;
  color: #fff;
}

.block_1 {
  background: url(../img/cat-1.png) center no-repeat;
}

.block_2 {
  background: url(../img/cat-2.png) center no-repeat;
}

.block_3 {
  background: url(../img/cat-3.png) center no-repeat;
}

/*             ---receipts---              */
.receipts_main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.headline {
  display: flex;
  flex-direction: row;
}
.headline img {
  padding-right: 24px;
}
.headline h1 {
  color: #000000;
  font-size: 20px;
}

.sl {
  padding-top: 51px;
}
.sl .sl_slide {
  display: flex;
  flex-direction: column;
}
.sl .sl_slide span {
  justify-content: flex-end;
  padding: 5px 14px;
  color: #fff;
  background-color: #0095D7;
  border-radius: 0 0 10px 10px;
}
.sl .sl_slide p {
  color: #000000;
  text-align: center;
}

/*             ---BRENDS---              */
.brend_main {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.brend_main_img {
  padding-top: 22px;
}

/*             ---MAIN_TEXT---              */
.mainText {
  padding: 20px 0;
  background-color: #C4C4C4;
}
.mainText .mainText_content {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.mainText .mainText_content span {
  padding: 24px;
  font-size: 18px;
}
.mainText .mainText_content p {
  font-size: 13px;
}

/*             ---FOOTER---              */
.footer {
  padding: 22px 0;
}

.footer_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_top .footer_block {
  display: flex;
  flex-direction: column;
}
.footer_top .footer_block ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.footer_top .footer_block ul li {
  padding-top: 9px;
}
.footer_top .footer_block ul li span {
  font-size: 15px;
}

.bold {
  font-style: 16px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
