@import 'variable';
@import 'mixin';

//       GENERAL
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body{
    font-family: 'Comfortaa', cursive;
    color: $black;
    font-size: 23px;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

//      CONTAINER

.container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
 }

//     HOME PAGE
 //     HEAD

 .header{
     background-color: $lightBlue;
     padding: 15px 0;
     .content{
         @include fd-r;
         justify-content: space-between;
         align-items: center;
         .main_menu{
             ul{
                 @include fd-r;
                 align-items: center;
                 .subs{
                     position: relative;
                     &::after{
                         content: '';
                         width: 10px;
                         height: 5px;
                         background: url(../img/src/arrowBlack.png);
                         background-size: cover;
                     }
                 }
                 li{
                     padding-right: 40px;
                     a{
                         font-size: 21px;
                         color: $black;
                         &:hover{
                             color: $blue;
                         }
                     }
                 }
             }
         }
         .social{
             @include fd-r;
             align-items: center;
             a{
                 padding-right: 20px;
             }
         }
     }
 }

 //     HEADER BOTTOM

.header_bottom{
    padding-top: 20px;
    .content{
        @include fd-r;
        justify-content: space-between;
        align-items: flex-start;
        .logo{
            img{
                width: 156px;
                height: 119px;
            }
        }
        .right{
            @include fd-r;
            align-items: center;
            .telephone{
                padding-right: 25px;
                @include fd-c;
                align-items: center;
                .top{
                    font-size: 32px;
                    font-weight: bold;
                }
                .bottom{
                    font-size: 15px;
                    font-weight: lighter;
                }
            }
            .logIn{
                padding-right: 25px;
                @include fd-r;
                span{
                    font-size: 15px;
                    padding: 0 4px;
                }
                a{  
                    font-size: 15px;
                    color: $black;
                    &:hover{
                        color: $blue;
                    }
                }
            }
            .shopping{
                width: 62px;
                height: 62px;
            }
        }
    }
}

.main{
    .content{
        .title{
            font-size: 43px;
            font-weight: bold;
            padding: 30px 0;
        }
        .all{
            @include fd-r;
            .left{
                .accordeon_attention{
                    @include fd-c;
                    .accordion{
                        @include fd-r;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 15px;
                        padding: 10px 0;
                        padding-left: 20px;
                        width: 350px;
                        background-color: $lightBlue;
                        span{
                            padding-right: 15px;
                        }
                    }
                    .accordion_content{
                        padding-left: 30px;
                        ul{
                            li{
                                padding-bottom: 10px;
                                a{
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
            .right{
                padding-left: 40px;
                width: 100%;
                .top{
                    @include fd-r;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .item{
                        margin-bottom: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                       
                        position: relative;
                        width: 300px;
                        height: 150px;
                        background: #FEFEFE;
                        box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.08);
                        img{
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 1;
                            margin-top: -67px;
                            margin-right: -24px;
                            width: 130px;
                            height: auto;
                        }
                        span{
                            padding-left: 20px;
                            font-weight: bold;
                            font-size: 26px;
                            z-index: 2;
                        }
                    }
                }
                .center{
                    padding-top: 30px;
                    @include fd-r;
                    align-items: center;
                    justify-content: flex-start;
                    .sort{
                        font-weight: bold;
                        font-size: 26px;
                        padding-right: 20px;
                    }
                    .item{
                        @include fd-r;
                        justify-content: flex-start;
                        align-items: center;
                        padding-right: 20px;
                        span{
                            font-size: 24px;
                            padding-right: 5px;
                        }
                        img{
                            width: 12px;
                            height: 6px;
                        }
                    }
                }
                .bottom{
                    @include fd-r;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    
                    width: 100%;
                    .item{
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                        @include fd-c;
                        align-items: center;
                        justify-content: space-between;
                        width: 310px;
                        height: 620px;
                        border: 1px solid #DBDBDB;
                        img{
                            width: 100%;
                            height: auto;
                        }
                        .title{
                            font-size: 18px;
                            font-weight: normal;
                            text-align: center;
                        }
                        .price{
                            width: 100%;
                            padding: 0 15px;
                            @include fd-r;
                            justify-content: space-between;
                            align-items: center;
                            .number{
                                font-size: 22px;
                                font-weight: bold;
                            }
                            .buy{
                                font-size: 22px;
                                padding: 15px 30px;
                                border: 2px solid $blue;
                                color: $black;
                            }
                        }
                    }
                }
                .bottom_more{
                    padding-top: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    a{
                        color: $black;
                        // width: 275px;
                        border: 2px solid $blue;
                        padding: 15px 30px;
                        font-size: 25px;
                    }
                }
                .bottom_information{
                    padding-bottom: 20px;
                    @include fd-c;
                    align-items: flex-start;
                    .title{
                        padding-top: 20px;
                    }
                    span{
                        padding-top: 30px;
                        font-size: 24px;
                        line-height: 32px;
                        letter-spacing: 0.02em;
                    }
                }
            }
        }
    }
}


.footer{
    background-color: $lightBlue;
    padding: 50px 0;
    .content{
        @include fd-r;
        justify-content: space-between;
        align-items: center;
        .center{
            @include fd-c;
            align-items: center;
            .footer_nav{
                ul{
                    @include fd-r;
                    align-items: center;
                    .subs{
                        position: relative;
                        &::after{
                            content: '';
                            width: 10px;
                            height: 5px;
                            background: url(../img/src/arrowBlack.png);
                            background-size: cover;
                        }
                    }
                    li{
                        padding-right: 40px;
                        a{
                            font-size: 21px;
                            color: $black;
                            &:hover{
                                color: $blue;
                            }
                        }
                    }
                }
            }
            .policy{
                color: $black;
                padding-top: 10px;
            }
        }
        .contact{
            @include fd-c;
            align-items: center;
            .telephone{
                @include fd-r;
                span{
                    font-size: 25px;
                    font-weight: bold;
                }
            }
            .social{
                padding-top: 10px;
                @include fd-r;
                align-items: center;
                a{
                    padding-right: 20px;
                }
            }
        }
    }
}