//                  INDEX

@media (max-width: 1550px) {
    
    .thems{
        .thems_main_bar{
            display: none;
        }
    }

}

@media (max-width: 1050px) {
    
    .main .container .main_img{
        display: none;
    }

}

@media (max-width: 825px) {
    
    .header{
        .container{
            .logo{
                padding: 0 10px;
                width: 100%;
                justify-content: space-between;
                .menu_adaptive{
                    display: flex;
                }
            }
            .menu{
                display: none;
            }
        }
    }
    .footer{
        .container{
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

}

@media (max-width: 768px) {

    .thems .container .them{
        flex-direction: column;
        .number{
            @include fd-r;
            align-items: center;
            justify-content: space-between;
            img{
                display: flex;
                padding-right: 20px;
            }
        }
    }

    .thems .container .them .them_bar{
        display: none;
    }

}

@media (max-width: 650px) {
    
    
    .footer{
        .container{
            justify-content: space-around;
            .school,.materials,.infomation{
                display: none;
            }
        }
    }

}

@media (max-width: 425px) {
    
    
    .course_type{
        .container{
            flex-direction: column;
            .course_select{
                margin-top: 20px;
                width: 100%;
            }
        }
    }

}

@media (max-width: 375px) {
    
    
    .main .container .main_info .main_h{
        font-size: 30px;
    }
    .main .container .main_info .main_bar .main_barText .main_barTextF{
        padding-right: 50px;
    }
    .thems .container .them .number{
        padding-left: 5px;
    }

}