$whiteColor: #fff;
$greyColor: #979FAD;
$themsText: #696969;
$number: #E1E1E1;
$courseBg: #FAFAFA;
$orangeColor:#FF8A00;
$blackColor: #323232;
$redColor: #f9665c;
$darkblue: #222B3A;
$midleblue: #23283c;
$lightblue: #2f334e;
$blueColor: #296DCE;
$blueColorText: #1092CB;