//      VARIABLE
$blackText: #151B1E;
$black: #1C1A1F;
$lightBlack: #373539;
$grey: #F5F5F5;
$white: #fff;
$green: #60C372; 
$greenDark: #56B267;
$red: #EA4335;
$darkRed: #900000;


// font-family: 'Montserrat', sans-serif;
